<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>Bestseller Books</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/styles.css">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
         <link rel="shortcut icon" type="image/jpg" href="/img/book.png"/>
    </head>
    <body>
        <div id="background-container">
            {{>header}}
            <ul  class="results" id={{book-rank}}>
                {{#each bookData as |book|}}
                    <article class="book-article blur-container">
                        <ul class="book-description">
                            <li class="book-title">{{book.title}}</strong></li>
                            <input type="button" class="review-link" value ="Rate this book">
                            <li>Rank: {{book.rank}}</li>
                            <li>Author(s): {{book.author}}</li>
                            <li>Publisher(s):{{book.publisher}}</li><br>
                        </ul>
                        <img class="book-image" src={{book.image}}></img>
                    </article>
                {{/each}}
            </ul>
        </div>
        <div id="placeholdersoyoucanscroll"></div>
        <script src="/js/currentbest.js" async defer></script>
    </body>
</html>