<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>My Ratings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
            <p id="message"><p/>
            <ul class="results">
            {{#each ratings as |rating|}}
            <form class="ratings-form" action="/ratings/edit" method="get">
                <li><strong>Book Title: {{rating.bookName}}</strong></li>
                <li>Stars {{rating.stars}}</li>
                <li>Review Comments {{rating.reviewText}}</li>
                <li>Submitted on: {{createdAt}}</li> 
                <input type="submit" name="{{rating.bookName}}" value="Edit">
                <input id="delete-buttons" type="button" name="{{rating.bookName}}" value="Delete">
                </form>
                <br>
            {{/each}}
       <script src="/js/myratings.js"></script>
    </body>
</html>

