<!DOCTYPE html>
<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <title>My Ratings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="shortcut icon" type="image/jpg" href="/img/book.png"/>
    </head>
    <body>
        <div id="background-container">
            {{>header}}
                
                <ul class="review-results">
                {{#each ratings as |rating|}}
                <form class="ratings-form blur-container" action="/ratings/edit" method="get">
                    <p id="message"><p/>
                    <ul class"book-description">
                        <li class="book-title"><strong>{{rating.bookName}}</strong></li>
                        <li>Stars {{rating.stars}}</li>
                        <li>"{{rating.reviewText}}"</li>
                        <li>Submitted on: {{createdAt}}</li> 
                        <input type="submit" name="{{rating.bookName}}" value="Edit">
                        <input id="delete-buttons" type="button" name="{{rating.bookName}}" value="Delete">
                        </form>
                    </ul> 
                  
                {{/each}}
        </div>
       <script src="/js/myratings.js"></script>
    </body>
</html>

